@charset "euc-kr";
@import url('./font.css');

body {max-width:1024px;min-width:320px;width:100%;min-height:100vh;}
/* label */
label{cursor:pointer;}
label,
label input{vertical-align:middle;}
label input{margin:0 0.5rem 0 0;}
label span{color:#666;font-size:1.8rem;}
button.txt{height:2.8rem;padding:0 1.5rem;border:1px solid #dbdbdb;color:#666;font-size:1.8rem;vertical-align:middle;}
input.txt{border:1px solid #dbdbdb;color:#666;font-size:1.3rem;line-height:2.8rem;text-indent:0.5rem;*text-indent:0;vertical-align:middle; }
input.chk,
input.rdi{width:1rem;height:1.6rem;color:#666;font-size:1.5rem;vertical-align:middle;}
input::placeholder,
textarea::placeholder {letter-spacing: -1px;color:#a2a2a2;font-weight:normal;}
textarea{-webkit-appearance: none !important; border-radius: 0; font-size:1.3rem;}
span.selectbox{position:relative;display:inline-block;*display:inline;zoom:1;height:2.8rem;overflow:hidden;vertical-align:middle;}
span.selectbox span{display:block;min-width:8.5rem;height:100%;overflow:hidden;line-height:2.6rem;padding:0 2.5rem 0 1rem;background:url(../images/sel_bg.png) no-repeat 100% 50%;background-size:1.5rem;border:1px solid #dbdbdb;color:#999;font-size:1.25rem;box-sizing: border-box;}
span.selectbox.on span {background:url(../images/sel_bg.png) no-repeat 100% 50%;background-size:1.5rem;}
span.selectbox select{z-index:1;position:absolute;left:0;top:0;width:100%;height:100%;margin:0;padding:0;opacity:0;filter:alpha(opacity=0);}
label.radiobox,
label.checkbox{line-height:1.5rem;vertical-align:middle;}
label.radiobox{display:inline-block;zoom:1;*display:inline;height:1.5rem;margin-left:0.5rem;background:url('../images/radio_off.png') no-repeat 0 50%;background-size:1.1rem;line-height:1;}
label.radiobox.lb,
label.radiobox:first-child {margin-left:0;}
label.radiobox input.rdi{float:left;width:1.1rem;height:1.5rem;margin:0 0.5rem 0 0;opacity:0;filter:alpha(opacity=0);vertical-align:-0.1rem;}
label.radiobox span {vertical-align:middle;font-size:1.3rem;line-height:1.5rem;color:#000;}
label.radiobox.on{background-image:url('../images/radio_on.png');}
label.radiobox.on span {color:#0054ff;}
label.checkbox{display:inline-block;zoom:1;*display:inline;height:1.5rem;margin-left:0.5rem;background:url('../images/check_off.png') no-repeat 0 50%;background-size:1.1rem;line-height:1;}
label.checkbox.lb,
label.checkbox:first-child{margin-left:0;}
label.checkbox input.chk{float:left;width:1.1rem;height:1.5rem;margin:0 0.5rem 0 0;opacity:0;filter:alpha(opacity=0);vertical-align:-0.1rem;}
label.checkbox span {vertical-align:middle;font-size:1.3rem;line-height:1.5rem;color:#000;}
label.checkbox.on{background-image:url('../images/check_on.png');}
label.checkbox.on span {color:#0054ff;}
img{max-width: 100%;}
.iphone input{-webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; border-radius: 0 !important;}
/* 비활성 */
.disable{cursor:default;opacity:0.25;filter:alpha(opacity=25);}
.disable select{display:none;}
.disable input.txt.on{border-color:#bbb !important;}



/* button */
.btn_area {display:block;text-align:center;padding:3.2rem 0 0;}
.btn_area .btn {width:100%;height:5rem;line-height:5rem;margin-top:1rem;display:block;font-size:1.7rem;font-weight:bold;}
.btn_area .btn.blue {color:#fff;background:#206ca8;}
.btn_area .btn.gray {color:#fff;background:#999;}
.btn_area .btn.white {color:##666;background:#fff;border: 1px solid #dbdbdb;}
.btn_area button.btn{outline: none; border: none;}
.btnWrap{margin-top: 50px; text-align: center;}
.btnWrap.MT00{margin-top: 0;}
.btnWrap.col2{font-size: 0; }
.btnWrap.col2 .tp{width: 50%; padding: 0 6px; display: inline-block; vertical-align: middle; box-sizing: border-box;}
.btnWrap.col2 .btns,
.btnWrap.col2 .btn{width: 100%;}
.btnWrap .btns{font-size: 1.333rem; line-height: 3.583rem; box-sizing: border-box; border: 0.083rem solid transparent; text-align: center; display: inline-block; padding: 0 0.833rem; border-radius: 3.583rem;}
.btnWrap .btns.bold{font-weight: bold;}
.btnWrap .btns.blue{background-color: #5994ef; color: #fff;}
.btnWrap .btns.black.outline{border-color: #1a3f70; color: #1a3f70; background-color: transparent;}

/* scrap */
a.scrap {display:inline-block;width:1.2rem;height:1.2rem;margin-left:0.3rem;font-size:0;background:url(../images/scrap_off.png)no-repeat 50%;background-size:1.2rem;vertical-align: middle;}
a.scrap.on {background:url(../images/scrap_on.png)no-repeat 50%;background-size:1.2rem}

/* heart */
a.heart {display:inline-block;width:1.5rem;height:1rem;margin-left:0.3rem;font-size:0;background:url(../images/heart_bg.png)no-repeat;background-size:0.95rem 3.5rem;background-position:0.3rem 0.1rem;vertical-align: middle;}
a.heart.on {background-position: 0.3rem -2.6rem;}

/* header */
#header {display:block;position:relative;background:#fff;}
#header .header-wrap {display:block;min-height: 6.65rem; background-color: #4276bc;}
#header .header-wrap .logo {display:inline-block;padding:2rem 0 0 1.75rem;}
#header .header-wrap .logo a {display:block;}
#header .header-wrap .logo a > img {width:11.25rem;}
#header .header-wrap .header_menu {position:absolute;top:2rem;right:0.8rem;}
#header .header-wrap .header_menu ul:after {content:'';display:block;clear:both;}
#header .header-wrap .header_menu ul li {float:left;margin-left:0.4rem;}
#header .header-wrap .header_menu ul li > a {display:block;width:3.2rem;height:3.2rem;font-size:0;background:url(../images/header_menu.png)no-repeat;background-size:7.5rem 3.2rem; border-radius: 50%;}
#header .header-wrap .header_menu ul li.login a {background-position:0 0rem;}
#header .header-wrap .header_menu ul li.sch a {background-position: -4.4rem 0rem;}
#header .header-wrap .header_menu ul li.login a.isLogin {background-size: 100%;}

#header .head_tit {position:relative;height:6.0rem;overflow:hidden; background:#fff;box-sizing:border-box;}
#header .head_tit h2 {position:absolute;left:0;bottom:1.9rem;width:100%;color:#000; font-size:2.5rem; font-weight:normal; line-height:1; text-align:center;}
#header .head_tit .prev {position:absolute;left:2rem;bottom:2.2rem;z-index:10; display:inline;}
#header .head_tit .prev img {width:1.53rem;height:1.6rem;}
#header .head_tit .pass {position:absolute;right:2rem;bottom:2.2rem;padding:0 0.9rem 0 0;font-size:1.7rem;color:#000;background:url('../images/pass_point.png') no-repeat 100% 60%;background-size:0.4rem;z-index:1; display:inline;}

/* header - 검색 */
#header .head_tit .search_box {display:block;position:relative;overflow:hidden;width:100%;height:4.5rem;margin:4rem 0 0;padding:0 5.5rem 0 5.3rem;z-index:5;box-sizing:border-box;}
#header .head_tit .search_box input {width:100%;height:100%;background:#f0f0f0;color:#000;font-size:1.6rem;border:none;box-sizing:border-box;}
#header .head_tit .search_box input::placeholder {color:#000;}
#header .head_tit .search_box button {position:absolute;right:1rem;top:0;width:4.5rem;height:4.5rem;font-size:0;background:url('../images/search_btn.jpg') no-repeat;background-size:4.5rem;}

/* gnb */
#header .gnb {position:relative;width:100%;overflow:hidden;padding:0;text-align:center;background-color: #1a3f70;}
#header .gnb:after {content:'';display:block;clear:both;}
#header .gnb .inner{white-space: nowrap; overflow: hidden; overflow-x: auto;}
#header .gnb.open .inner{padding-bottom: 4rem;}
#header .gnb>.inner>.tp {width:auto;display:inline-block;padding-left:1.75rem; padding-right: 1.25rem;}
#header .gnb>.inner>.tp:first-child {padding-left:1.75rem;}
#header .gnb>.inner>.tp:last-child {padding-right:1.75rem;}
#header .gnb>.inner>.tp a {display:block;width:auto;height: 4rem; line-height: 4rem; font-size:1.3rem;color:#fff;text-align:center; font-weight: bold;}
#header .gnb>.inner>.tp.active>a{color: #fdfb61;}
/* #header .gnb .tp.tp1 a{background-image: url(../images/gnb_depth01.png); background-size: 3.2rem; margin-left: 2rem;}
#header .gnb .tp.tp2 a{background-image: url(../images/gnb_depth02.png); background-size: 2.7rem;}
#header .gnb .tp.tp3 a{background-image: url(../images/gnb_depth03.png); background-size: 2.5rem;}
#header .gnb .tp.tp4 a{background-image: url(../images/gnb_depth04.png); background-size: 3.1rem;} */
#header .gnb .depth_gnb {}
#header .gnb .depth_gnb .menu {height: 4rem; display:block; position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(255,255,255,.1); display: none;}
#header .gnb .depth_gnb .menu ul {overflow: hidden; overflow-x: auto; white-space: nowrap;}
#header .gnb .depth_gnb .menu ul li{display: inline-block; padding-left: 1.752rem;}
#header .gnb .depth_gnb .menu ul li a {font-size:1.3rem;height:4rem;line-height:4rem;color:#dedede;}
#header .gnb .depth_gnb .menu ul li.active a{color: #d6d58b;}
#header .gnb .depth_gnb .menu ul li:last-child a{margin-right: 1.752rem;}
#header .gnb.open>.inner>.tp.active .depth_gnb .menu{display: block;}

/* detail */
#header .header-wrap.detail {display:block;height:5.25rem;min-height:4.2rem;background:#1a3f70;}
#header .header-wrap.detail.login {}
#header .header-wrap.detail .detail_box {position:relative;padding:1.7rem;text-align:left;}
#header .header-wrap.detail .detail_box > a {display:inline-block;width:1.5rem;height:1.7rem;font-size:0;background:url(../images/detail_prev.png)no-repeat 50% 50%;background-size: 0.5rem 0.95rem;vertical-align: top;}
#header .header-wrap.detail .detail_box > a.close {width:1.5rem;height:1.7rem;background: url(../images/detail_close.png) no-repeat 50%;background-size: 0.9rem 0.9rem;}
#header .header-wrap.detail .detail_box > p {display:inline-block;line-height:1;margin-left:0.5rem;font-size:1.8rem;color:#fff; font-weight: 500;}
#header .header-wrap.detail .detail_box > .btn.right {position:absolute;right:1rem;top:1rem;display:inline-block;width:8rem;height:2rem;line-height:2rem;color:#fff;font-size:1.4rem;text-align:center;background:none;border:1px solid #fff;border-radius:2rem;}

/* sub - 공통 */
#contents.sub_page .contents {position:relative;padding:0 0 8rem;}
#contents.sub_page .contents .tit {display:block;}
#contents.sub_page .contents .tit h3 {padding:0 0 0.8rem;border-bottom:2px solid #000;}
#contents.sub_page .contents.detail {padding:0;}
#contents.sub_page .contents.detail .view_area {padding:1.25rem;background: #eceded;}
#contents.sub_page .contents.detail > .tit {display:block;padding:2rem 1.5rem 1rem;}
#contents.sub_page .contents.detail > .tit h4 {line-height:1;font-size:2rem;color:#000;font-weight:normal;}
#contents.sub_page .contents.detail > .tit + .date_sch {padding:0 1.5rem 1.5rem;}
#contents.sub_page .visual_area {position:relative;display:block;width:100%;height:10.4rem; background-size: 100% 100% !important;}
#contents.sub_page .visual_area h2 {position:absolute;left:0;top:50%; margin: 0 !important; transform: translateY(-50%); color: #fff; font-size: 2.3rem; text-align: center; font-weight: 800; width: 100%; text-shadow: 0 0 7px rgba(0,0,0,0.4); line-height: 1;}
#contents.sub_page .visual_area h2:after{content: ''; width: .6rem; height: .6rem; background: #fff; border-radius: 50%; text-shadow: 0 0 7px rgba(0,0,0,0.4); position: absolute; left: 50%; top: -16px;}
#contents.sub_page .visual_area h2 img {display:block;width:100%;}
#contents.sub_page .visual_area.hire {background:url(../images/visual_bg_hire.jpg)no-repeat;}
#contents.sub_page .visual_area.info {background:url(../images/visual_bg_info.jpg)no-repeat;}
#contents.sub_page .visual_area.ai{background:url(../images/visual_bg_ai.jpg)no-repeat;}
#contents.sub_page .visual_area.partners {background:url(../images/visual_bg_partners.jpg)no-repeat;}
#contents.sub_page .visual_area.consulting {background:url(../images/visual_bg_consulting.jpg)no-repeat;}
#contents.sub_page .visual_area.lecture {background:url(../images/visual_bg_lecture.jpg)no-repeat;}
#contents.sub_page .visual_area.lecture2 {background:url(../images/visual_bg_lecture2.jpg)no-repeat;}
#contents.sub_page .visual_area.lecture3 {background:url(../images/visual_bg_lecture3.jpg)no-repeat;}
#contents.sub_page .visual_area.intern {background:url(../images/visual_bg_intern.jpg)no-repeat;}
#contents.sub_page .visual_area.notice {background:url(../images/visual_bg_intern.jpg)no-repeat;}
#contents.sub_page .visual_area.qna {background:url(../images/visual_bg_intern.jpg)no-repeat;}
#contents.sub_page .visual_area.biz_intern {background:url(../images/visual_bg_biz_intern.jpg)no-repeat;}
#contents.sub_page .visual_area.tools {background:url(../images/visual_bg_tools.png)no-repeat;}
#contents.sub_page .visual_area.yenbo {background:url(../images/visual_bg_yenbo.png)no-repeat;}
#contents.sub_page .visual_area.fort {background:url(../images/visual_bg_fort.png)no-repeat;}
#contents.sub_page .visual_area.onlineQA {background:url(../images/visual_bg_consulting.jpg)no-repeat;}
#contents.sub_page .visual_area.mnt {background:url(../images/visual_bg_mnt.jpg)no-repeat;}

#contents.sub_page .contents .pc_btn {width:100%;position:absolute;bottom:0;left:0;border-top:1px solid #d4d4d4;}
#contents.sub_page .contents .pc_btn a {display:block;height:4.5rem;line-height:4.5rem;text-align:center;font-size:1.5rem;color:#000;font-weight:bold;}

/* sub - 슬라이드 */
#contents.sub_page .con_slide {position:relative;overflow:hidden;padding:1.8rem 2.6rem;}
#contents.sub_page .con_slide .swiper-slide {padding:0 1rem;box-sizing:border-box;}
#contents.sub_page .con_slide .swiper-button-prev {left:0;width:2.1rem;height:3.7rem;background:url(../images/slide_prev.png)no-repeat 50% 50%;background-size:2.1rem 3.7rem;}
#contents.sub_page .con_slide .swiper-button-prev:after {display:none;}
#contents.sub_page .con_slide .swiper-button-next {right:0;width:2.1rem;height:3.7rem;background:url(../images/slide_next.png)no-repeat 50% 50%;background-size:2.1rem 3.7rem;}
#contents.sub_page .con_slide .swiper-button-next:after {display:none;}

/* contents 유형 */
.contents {position:relative;padding:0;}
.contents.gray {background:#f7f7f7;padding:2.5rem 2.4rem 6.6rem;box-sizing:border-box;}
.contents.white {background:#fff;padding:2.5rem 2.4rem 6.6rem;box-sizing:border-box;}
.contents.full {width:100%;min-height:100vh;}
.contents.sign_up {background:#f7f7f7;padding:2.5rem 2.4rem 6.6rem;box-sizing:border-box;}
.contents.map {width:100%;min-height:100vh;padding:0;}
.contents.test {width:100%;height: calc(100vh - 6rem);padding:0;}

/* 페이징 */
.paging_area {margin:2rem 0 0; font-size:0; text-align:center;}
.paging_area li {display:inline-block; zoom:1; padding:0; border-bottom:0; vertical-align:top;}
.paging_area li strong,
.paging_area li a {display:block; width:3rem; height:3rem; margin-right:0.5rem; border:1px solid #dadada; color:#666; font-size:1.5rem; line-height:2.7rem; box-sizing:border-box;}
.paging_area li strong {position:relative; border-color:#4276bc; background-color:#4276bc; color:#fff;}
.paging_area li.btn a {display:inline-block; text-indent:-9999em}
.paging_area li.prev a {background:url(http://image.career.co.kr/mcareer/icon_aprev.png) no-repeat 50% 50%; background-size:0.7rem 1rem}
.paging_area li.next a {background:url(http://image.career.co.kr/mcareer/icon_anext.png) no-repeat 50% 50%; background-size:0.7rem 1rem}


/* 로그인 */
.login_content {min-height:3rem; padding:5rem 1.5rem 0;}
.login_content .login .inp {width:100%;text-align:center;}
.login_content .login .inp span {display:inline-block;margin:0 auto 3rem; padding: 0 3.706rem;}
.login_content .login .inp span > img {display:block; max-width: 100%;}
.login_content .login .inp input.txt {position:relative; z-index:1; width:100%; height:3.3rem;line-height:3.3rem;margin-top:0.5rem;font-size:1.2rem;color:#333;background:#eceded;border:1px solid #eceded; box-sizing:border-box;border-radius:5px;}
.login_content .login .inp input.txt.on {z-index:2; border-color:transparent !important;}
.login_content .login .inp input.txt::-webkit-input-placeholder {color:#363636;}
.login_content .login .inp input.txt:-ms-input-placeholder {color:#363636;}
.login_content .login .inp input.bgnone {background-image:none;}
.login_content .login .check {margin-top:1rem;}
.login_content .login .check .sch_box {float:right;line-height:1;text-align:left;font-size:0;}
.login_content .login .check .sch_box > .sch {display:inline-block;line-height:1rem; margin:0.2rem 0 0 0.5rem;font-size:1.2rem; color:#000;vertical-align:middle;}
.login_content .login .check .sch_box > .sch.pass {padding-left:0.5rem;border-left:1px solid #ddd;}
.login_content .login .btn_login {display:block; width:100%; height:5rem; line-height:5rem; overflow:hidden; margin:4rem 0 5rem; background:#00b7ee; border:1px solid #00b7ee; color:#fff; font-size:1.2rem;text-align:center; text-indent:0;}
.login_content .sign_up {padding:2rem 0 3rem;text-align:center;}
.login_content .sign_up > p {display:block;line-height:1.2;padding:0 0 1rem;font-size:1.2rem;color:#000;}
.login_content .sign_up > a {display:block; width:100%; height:5rem; line-height:5rem;overflow:hidden; margin:0; background:#3a42ff; border:1px solid #3a42ff; color:#fff; font-size:1.2rem;text-align:center; text-indent:0;box-sizing:border-box;}
.login_content .socialLog {display:none;margin-bottom:1.923rem;}
.login_content .socialLog:after {content:'';clear:both;display:block;}
.login_content .socialLog li {position:relative; float:left; width:50%; margin:-1px 0 0 -1px; background-color:#fff; border:1px solid #dbdbdb; box-sizing:border-box;}
.login_content .socialLog li a {display:block; font-size:0.923rem; color:#222; line-height:2.846rem; }
.login_content .socialLog li a .sprite {display:inline-block; width:2.846rem; font-size:0; text-indent:-9999em; vertical-align:top;background: url(../images/sns_bg.png) no-repeat;background-size: 11.538rem 11.538rem;}
.login_content .socialLog li a .sl1 {background-position:0.923rem -2.462rem;}
.login_content .socialLog li a .sl2 {background-position:-2.462rem -2.462rem;}
.login_content .socialLog li a .sl3 {background-position:-5.308rem -2.462rem;}
.login_content .socialLog li a .sl4 {background-position:-8.462rem -2.462rem;}
.login_content .socialLog li.off a .sl1 {background-position:0.923rem -5.077rem;}
.login_content .socialLog li.off a .sl2 {background-position:-2.462rem -5.077rem;}
.login_content .socialLog li.off a .sl3 {background-position:-5.308rem -5.077rem;}
.login_content .socialLog li.off a .sl4 {background-position:-8.462rem -5.077rem;}

/*datePick*/
.datePick {position:relative;display:inline-block;width:100%;font-size:0;padding: 0;box-sizing:border-box;}
.datePick:after {content:"";display:block;clear:both;}
.datePick > .term {position:absolute;top:50%;left:1.8rem;display:inline-block;line-height:3rem;margin:-1.5rem 0 0;font-size:1.5rem;}
.datePick > .hyphen {display:inline-block;width:4%;font-size:1.5rem;line-height:3rem;text-align:center;vertical-align: middle;}
.datePick input[type=text] {width:auto;height:3rem;border:1px solid #eceded;font-family:"Malgun Gothic","맑은 고딕";font-size:13px;color:#000;line-height:34px;text-indent:10px;vertical-align:middle;background:#eceded;border-radius:0.3rem;}
.datePick .date_input {position:relative;display:inline-block;width:48%;line-height:3rem;font-size:0;}
.datePick .date_input > span {display:inline-block;line-height:3rem;margin-right:0.6rem;font-size:1.6rem;vertical-align:middle;}
.datePick .date_input > input {width:100%;padding:0 1.8rem 0 0;box-sizing:border-box;}
.datePick .date_input > button {position:absolute;top:0.1rem;right:0.5rem;width:1.6rem;height:3rem;background:url(../images/calendar.png) no-repeat;background-size:3.5rem 10rem;background-position: -0.4rem -0.6rem;border:none;font-size:0;text-indent:-9999em;vertical-align:middle;}
.datePick button.btn {vertical-align:middle;}
.datePick button.btn.sch {position:absolute;top:50%;right:1.8rem;width:4.6rem;height:3rem;margin:-1.5rem 0 0;font-size:1.3rem;color:#fff;background:#00b7ee;border-radius:0.3rem;border:none; white-space: nowrap;}
.datePick button.btn.reset {width: 63px;line-height:3rem;height:3rem;padding: 0;margin-left: 10px;font-size: 13px;color: #fff;text-indent: 0;background:#3a6cff;border:none;vertical-align:middle;box-sizing:border-box;}

.ui-widget-header{background:none;border:0;}
.ui-datepicker{z-index:10 !important;padding:.58em;margin-top:-1px;}
.ui-datepicker .ui-datepicker-title select{
    -webkit-appearance:none;/* 네이티브 외형 감추기 */
    -moz-appearance:none;
    appearance:none;
    background:url(../images/calendar_sel.png) #fff no-repeat 85% 50%;/* 화살표 모양의 이미지 */
	border:1px solid #c4c4c4;
	height:30px;
	color:#999999;
	font-size:13px;
	padding-left:5px;
	vertical-align: middle;
}
.ui-datepicker .ui-datepicker-title select::-ms-expand{
    display:none;
}
.ui-icon{width:13px;height:14px;}
.ui-widget-header .ui-icon{background-image:url(../images/calendar.png);}
.ui-icon-circle-triangle-e{background-position:-18px 2px;}
.ui-icon-circle-triangle-w{background-position:-4px 2px;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{top:6px;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus{
	border:0/*{borderColorHover}*/;
	background:none/*{bgColorHover}*/;
	font-weight:normal/*{fwDefault}*/;
	color:#212121/*{fcHover}*/;
}
.ui-datepicker-month{margin-left:2px !important;}
.ui-datepicker select.ui-datepicker-month {width:41%;}
.ui-datepicker select.ui-datepicker-year {width:48%;margin-left:5px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-radius:0;}
.ui-widget-content{border-color:#c4c4c4;}
.ui-datepicker th{border:1px solid #e5e5e5;padding:.4em .3em;font-weight:normal;background:#f7f7f7;font-size:12px;}
.ui-datepicker-calendar > thead th.ui-datepicker-week-end:first-child span,
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:first-child a{ color:#ff0000 !important;}
.ui-datepicker-calendar > thead th.ui-datepicker-week-end:last-child span,
.ui-datepicker-calendar > tbody td.ui-datepicker-week-end:last-child a{ color:#0048ff !important;}
.ui-datepicker td{ border:1px solid #e5e5e5;padding:0;font-size:12px;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{
	border:0/*{borderColorDefault}*/;
	background:none;
	font-weight:normal/*{fwDefault}*/;
	color:#555555/*{fcDefault}*/;
}
.ui-datepicker td span,.ui-datepicker td a{text-align:center;}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{
	background:#fee984;
}
.ui-datepicker .ui-datepicker-header{padding:.3em 0 .5em;}
.ui-datepicker td span,.ui-datepicker td a{padding:.42em .3em;}

/* info_box (my 공통) */
.info_tb .tb {width:100%;padding:0;}
.info_tb .tb th {height:4rem;background:#aacae6;font-size:1.3rem;color:#fff;}
.info_tb .tb th a {display:block;line-height:1;font-size:1.3rem;}
.info_tb .tb th a span {display:inline-block;color:#fff;word-break: keep-all;}
.info_tb .tb th a span:before {content:'';display:block;width:3.2rem;height:2.4rem;clear:both;margin:0 auto 1rem;background:url(../images/my_info_icon.jpg) no-repeat;background-size:28.45rem 2.4rem;}
.info_tb .tb th a.on span {color:#3a6cff;}
.info_tb .tb th:first-child span:before {background-position: 0.5rem 0;}
.info_tb .tb th:nth-child(2) span:before {background-position: -6rem 0;}
.info_tb .tb th:nth-child(3) span:before {background-position: -12.4rem 0;}
.info_tb .tb th:nth-child(4) span:before {background-position: -18.9rem 0;}
.info_tb .tb th:nth-child(5) span:before {background-position: -25.3rem 0;}
.info_tb .tb td {height:4rem;text-align:center;border-bottom:6px solid #eceded;}
.info_tb .tb td a {display:block;font-size:2rem;color:#b5b5b5;font-weight:bold;}
.info_tb .my_menu {position:relative;overflow:hidden;border-bottom: 6px solid #eceded;}
.info_tb .my_menu .swiper-slide {width:22%;border-left:1px solid #fff;box-sizing:border-box;}
.info_tb .my_menu .swiper-slide:first-child {border:none;}
.info_tb .my_menu .swiper-slide p {display:table;width:100%;height:6rem;line-height:1.2;background:#aacae6;font-size:1.5rem;color:#fff;text-align:center;}
.info_tb .my_menu .swiper-slide span {display:table-cell;vertical-align:middle;}
.info_tb .my_menu .swiper-slide a {display:block;padding:1rem 0;font-size:2rem;color:#b5b5b5;font-weight:bold;text-align:center;}
.info_tb .my_menu .swiper-slide a.on {color:#5877ba;font-weight:bold;}
.info_tb .my_menu .swiper-button-next  {z-index:300;}
.info_tb .my_menu .swiper-button-prev {display:none;}
.info_tb .my_menu .swiper-button-next {top:0;right:0;width:3rem;height:100%;margin:0;background-color: #000;background-color: rgba( 0, 0, 0, 0.3 );}
.info_tb .my_menu .swiper-button-next:after {font-size:2rem;color:#fff;}
.info_tb .my_menu .swiper-button-next.swiper-button-disabled {opacity:0;}

/* footer */
#footer {width:100%;overflow:hidden;text-align:center;background-color:#fff;letter-spacing:0; border-top: 1px solid #dadada;}
#footer .footer_area {display:block;padding:1.5rem 3.3rem 2.5rem;}
#footer .footer_area .footer_box > img {display:inline-block;width:7.5rem;}
#footer .footer_area .footer_box > p {padding:1rem 0 0;line-height:1.8rem;font-size:1.2rem;color:#333;word-break: keep-all;}
.main_page+#footer{border-top: none;}

.cmm_tit{font-size: 2rem; font-weight: bold; letter-spacing: -.14rem; color: #1a3f70; text-align: center; display: block; position: relative; padding-top: 2.1rem;}
.cmm_tit:before{content: ''; width: .7rem; height: .7rem; position: absolute; left: 50%; top: 0; margin-left: -.35rem; border-radius: 50%; background-color: #1a3f70;}
.cmm_tit.left{text-align: left;}
.cmm_tit.right{text-align: right;}
.cmm_tit.inline{display: inline-block;}
.cmm_stit{font-size: 1.2rem; letter-spacing: -.05rem; line-height: 1.8rem; font-weight: normal; display: block; text-align: center; color: #4276bc; }
.cmm_stit.underline{text-decoration: underline;}
.cmm_stit.left{text-align: left;}
.cmm_stit.inline{display: inline-block;}
.cmm_stit.lg{font-size: 1.5rem;}
.cmm_stit.bold{font-weight: 500;}
.cmm_tit+.cmm_stit{margin-top: 1rem;}
.cmmc_tit{font-size: 1.75rem; color: #000; line-height: 1;}
.cmmc_tit.exbold{font-weight: bold;}
.cmmc_tit.blue{color: #5994ef;}

.cmm_lst{}
.cmm_lst.sm{font-size: 0.7rem; line-height: 1.2rem;}
.cmm_lst .cmmtp{display: block; font-size: 1.2rem; color: #000; line-height: 2.2rem; text-align: left;}
.cmm_lst.lg .cmmtp{font-size: 0.9rem; line-height: 1.5rem;}
.cmm_lst.sm .cmmtp{font-size: 0.7rem; line-height: 1.2rem;}
.cmm_lst.indent .cmmtp{text-indent: -0.5rem; padding-left: 0.5rem;}
.cmm_lst.indent.indent11 .cmmtp{text-indent: -0.55rem; padding-left: 0.55rem;}
.cmm_lst.indent.indent12 .cmmtp{text-indent: -0.6rem; padding-left: 0.6rem;}
.cmm_lst.indent.indent13 .cmmtp{text-indent: -0.65rem; padding-left: 0.65rem;}
.cmm_lst.indent.indent14 .cmmtp{text-indent: -0.7rem; padding-left: 0.7rem;}
.cmm_lst.indent.indent15 .cmmtp{text-indent: -0.75rem; padding-left: 0.75rem;}
.cmm_lst.indent.indent16 .cmmtp{text-indent: -0.8rem; padding-left: 0.8rem;}
.cmm_lst.indent.indent17 .cmmtp{text-indent: -0.85rem; padding-left: 0.85rem;}
.cmm_lst.indent.indent18 .cmmtp{text-indent: -0.9rem; padding-left: 0.9rem;}
.cmm_lst.indent.indent19 .cmmtp{text-indent: -0.95rem; padding-left: 0.95rem;}
.cmm_lst.indent.indent20 .cmmtp{text-indent: -1rem; padding-left: 1rem;}
.cmm_dots{display: inline-block; vertical-align: middle; background: #000; border-radius: 50%;}
.cmm_dots.w3{width: 0.15rem; height: 0.15rem; margin-right: 0.35rem;}
.cmm_dots.ast{background: none; border-radius: 0; font-size: 0.6rem; margin-right: 0.35rem;}
.cmm_dots.ast:before{content: '*'; margin-left: 0.55rem;}

.cmm_field_area{}
.cmm_field_area .d1{}
.cmm_field_area .d1 dt{}

/*스마트계산기 메뉴구성 UI*/
.comp_scalc_wrap{display: block;}
.comp_scalc_wrap .comp_scalc_inner{}
.comp_scalc_wrap .comp_scalc_inner .lst{border-top: .4rem solid #5994ef; background-color: #3c5c85;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp{display: inline-block; width: 20%; padding: 1.2rem 0; position: relative; background-color: #3c5c85; box-sizing: border-box; vertical-align: top;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp .txt{font-size: 1.0rem; text-align: center; display: block; color :#fff; padding-top: 6.3rem; position: relative; }
.comp_scalc_wrap .comp_scalc_inner .lst .tp+.tp:before{content: ''; width: 1px; height: 7.7rem; background: #fff; position: absolute; left: 0; top: 50%; margin-top: -3.85rem;}
.comp_scalc_wrap .comp_scalc_inner .lst.fnNotSlickSliderStatic .tp.active,
.comp_scalc_wrap .comp_scalc_inner .lst .tp.slick-active{background-color: #5994ef; border-bottom: .4rem solid #eef2f7;}
.comp_scalc_wrap.bgWhite .comp_scalc_inner .lst.fnNotSlickSliderStatic .tp.active,
.comp_scalc_wrap.bgWhite .comp_scalc_inner .lst .tp.slick-active{border-color: #fff;}
.comp_scalc_wrap .comp_scalc_inner .lst.fnNotSlickSliderStatic{font-size: 0;}/*white-space: nowrap; overflow: hidden; overflow-x: auto;*/
.comp_scalc_wrap .comp_scalc_inner .lst.fnNotSlickSliderStatic .tp.active .txt,
.comp_scalc_wrap .comp_scalc_inner .lst .tp.slick-active .txt{top: -.4rem; }
.comp_scalc_wrap .comp_scalc_inner .lst.fnNotSlickSliderStatic .tp.active:before,
.comp_scalc_wrap .comp_scalc_inner .lst .tp.slick-active:before{content: none;}
.comp_scalc_wrap .comp_scalc_inner .lst.fnNotSlickSliderStatic .tp.active+.tp:before,
.comp_scalc_wrap .comp_scalc_inner .lst .tp.slick-active+.tp:before{content: none;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp .txt .ico{position: absolute; left: 50%; transform: translateX(-50%); background: no-repeat center center; background-size: 100%;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp.tp1 .txt .ico{background-image: url(../images/ico_scalc001.png); width: 4rem; height: 3.6rem; top: 1.7rem;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp.tp2 .txt .ico{background-image: url(../images/ico_scalc002.png); width: 4.4rem; height: 3.5rem; top: 1.7rem;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp.tp3 .txt .ico{background-image: url(../images/ico_scalc003.png); width: 4.3rem; height: 3.6rem; top: 1.6rem;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp.tp4 .txt .ico{background-image: url(../images/ico_scalc004.png); width: 3.6rem; height: 3.5rem; top: 1.6rem;}
.comp_scalc_wrap .comp_scalc_inner .lst .tp.tp5 .txt .ico{background-image: url(../images/ico_scalc005.png); width: 3.5rem; height: 4rem; top: 1.3rem;}
/* .tool_area .comp_scalc_wrap{padding-left: 1.45rem; padding-right: 1.45rem;} */

.slick-initialized a:focus{outline: none !important;}

#contents.main_page .employ_area .emp_lst{}
#contents.main_page .employ_area .emp_lst *{box-sizing: border-box;}
#contents.main_page .employ_area .emp_lst .tp{}
#contents.main_page .employ_area .emp_lst .tp .inner{border-radius: 1rem; overflow: hidden; position: relative; padding-bottom: 72.442%; border: 1px solid #ededed; background: repeat-x left bottom; background-size: 100% 10rem;} /* 1/20, 200/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .txts{position: absolute; left: 0; top: 3.25rem; padding-left: 5.95rem;} /* 65/20, 119/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .txts:before{content: ''; width: 5.2rem; height: 1.65rem; position: absolute; left: 0; top: 0; background: no-repeat right center url(../images/employ_label.png); background-size: cover;} /* 124/20, 33/20, 65/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .txts .tit{font-size: 1.85rem; font-weight: bold; color: #304464;} /* 37/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .txts .stit{font-size: 1.25rem; line-height: 1.7rem; font-weight: bold; color: #304464; margin-top: 0.85rem;} /* 25/20, 34/20 */ /* 17/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .btnsWrap{position: absolute; right: 1.1rem; bottom: 1.4rem; z-index: 2;} /* 22/20, 28/20 */
#contents.main_page .employ_area .emp_lst .tp .inner .btnsWrap .btns{}
#contents.main_page .employ_area .emp_lst .tp.tp1 .inner{background-image: url(../images/employ_img_ren01.png);}
#contents.main_page .employ_area .emp_lst .tp.tp2 .inner{background-image: url(../images/employ_img_ren02.png);}
#contents.main_page .employ_area .emp_lst .tp.tp3 .inner{background-image: url(../images/employ_img_ren03.png);}
#contents.main_page .employ_area .emp_lst .tp.tp4 .inner{background-image: url(../images/employ_img_ren03.png);}
#contents.main_page .employ_area .emp_lst .tp .inner:after{content:''; background: no-repeat left top; background-size: cover; position: absolute; z-index: 1;}
#contents.main_page .employ_area .emp_lst .tp.tp1 .inner:after{background-image: url(../images/employ_img_obj004.png); width: 12.35rem; height: 10.45rem; bottom: 9.5rem; right: 1rem;} /* 203/20, 341/20 */ /* 26/20, 40/20 */
#contents.main_page .employ_area .emp_lst .tp.tp2 .inner:after{background-image: url(../images/employ_img_obj006.png); width: 15.35rem;; height: 18.45rem; bottom: 1.4rem; right: 0rem;} /* 203/20, 341/20 */ /* 26/20, 40/20 */ /* 167/20, 209/20 */
#contents.main_page .employ_area .emp_lst .tp.tp3 .inner:after{background-image: url(../images/employ_img_obj003.png); width: 13.8rem; height: 16.55rem; bottom: 4.7rem; right: 0;} /* 203/20, 341/20 */ /* 26/20, 40/20 */ /* 256/20, 311/20 */
#contents.main_page .employ_area .emp_lst .tp.tp4 .inner:after{background-image: url(../images/employ_img_obj007.png); width: 8.15rem; height: 24.05rem; bottom: -4.5rem; right: 2.5rem;} /* 203/20, 341/20 */ /* 26/20, 40/20 */ /* 256/20, 311/20 */
#contents.main_page .employ_area .emp_lst .tp:hover{border-radius: 1rem; box-shadow: 0.25rem 0.25rem 0.5rem rgba(0,0,0,0.08);} /* 5/20, 5/20, 10/20 */
#contents.main_page .employ_area .emp_lst .tp .inner:hover{border-color: #6e89ee;}
#contents.main_page .employ_area .emp_lst .tp .inner:hover .txts:before{background-image: url(../images/employ_label_active.png);}
#contents.main_page .employ_area .emp_lst .tp .inner:hover .txts .tit,
#contents.main_page .employ_area .emp_lst .tp .inner:hover .txts .stit{color: #1f49e5;}


#contents.main_page .calc_area .ca_smart_grid{margin-top: 1.5rem;} /* 30/20 */
#contents.main_page .calc_area .ca_smart_grid .lst{font-size: 0; margin: 0 -0.25rem;} /* -5/20 */
#contents.main_page .calc_area .ca_smart_grid .lst .tp{width: 50%; padding: 0 0.25rem; display: inline-block; box-sizing: border-box;} /* 5/20 */
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp1{}
#contents.main_page .calc_area .ca_smart_grid .lst .tp .txts{display: block; width: 100%; height: 0; padding-bottom: 123.856%; background: no-repeat left top; background-size: cover; text-indent: -999em; font-size: 0;}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp1 .txts{background-image: url(../images/ca_smart_grid001.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp2 .txts{background-image: url(../images/ca_smart_grid002.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp3 .txts{background-image: url(../images/ca_smart_grid003.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp4 .txts{background-image: url(../images/ca_smart_grid004.png);}
/* #contents.main_page .calc_area .ca_smart_grid .lst .tp.tp1:hover .txts{background-image: url(../images/ca_smart_grid001_hover.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp2:hover .txts{background-image: url(../images/ca_smart_grid002_hover.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp3:hover .txts{background-image: url(../images/ca_smart_grid003_hover.png);}
#contents.main_page .calc_area .ca_smart_grid .lst .tp.tp4:hover .txts{background-image: url(../images/ca_smart_grid004_hover.png);} */
/* buttons */
.btns{display: inline-block; text-align: center; }
.btns.md{font-size: 1.25rem; min-width: 16.55rem; height: 3.85rem; line-height: 3.85rem; border-radius: 3.85rem;} /* 331/20, 77/20, 77/20, 77/20 */ /* 25/20 */
.btns.bold{font-weight: bold;}
.btns.blue{background-color: #5994ef; color: #fff;}
.ico{display: inline-block; vertical-align: middle; background: no-repeat center center; background-size: cover;}
.ico.reload{width: 12px; height: 15px; background-image: url(../images/ico_reload_22.png); background-size: 100% auto;}
.innerWrap{padding-left: 1.45rem; padding-right: 1.45rem;}


/*메인에서 사용하는 게시판 : 다른곳에도 쓰일까싶어 common에 선언 */
.ft_notice{background-color: #fff;}
.ft_notice .ft_notice_inner{padding: 1.5rem 1.1rem;}
.ft_notice .ft_notice_inner .ftn_tp{position: relative; text-align: left; padding: .7rem 0; border-bottom: 1px solid #000;}
.ft_notice .ft_notice_inner .ftn_tp .tit{font-size: 1.6rem; font-weight: bold; color: #000; line-height: 1;}
.ft_notice .ft_notice_inner .ftn_tp .ftn_btn{position: absolute; right: 0; top: 50%; min-width: 5.2rem; padding: 0 1rem; line-height: 1.8rem; text-align: center; color: #000; border: 1px solid #cbcbcb; margin-top: -1rem;}
.ft_notice .ft_notice_inner .ftn_tp .ftn_btn:after{content: '+'; margin-left: .3rem;}
.ft_notice .ft_notice_inner .ftn_ct{padding-bottom: 1rem;}
.ft_notice .ft_notice_inner .ftn_ct .lst{padding: 1rem 0 0; height: 11.5rem; overflow: hidden;}
.ft_notice .ft_notice_inner .ftn_ct .lst .tp{}
.ft_notice .ft_notice_inner .ftn_ct .lst .tp .txt{font-size: 1.2rem; color: #000; line-height: 2.3rem; text-align: left; display: block; position: relative; padding-right: 7rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.ft_notice .ft_notice_inner .ftn_ct .lst .tp .txt .dt{font-size: 1rem; color: #acacac; position: absolute; right: 0; top: 50%; transform: translateY(-50%);  text-align: right; width: 7rem;}
.ft_notice .ft_notice_inner .ftn_ct .ban{padding: 1rem 0 0;}
.ft_notice .ft_notice_inner .ftn_ct .ban .img{display: block; position: relative; width: 100%; padding-bottom: 75%; /*12/9*/ overflow: hidden;}
.ft_notice .ft_notice_inner .ftn_ct .ban .img img{width: 100%; position: absolute; left: 0; top: 0;}
.ft_notice .ft_notice_inner .ftn_ct .ban .txts{margin-top: 0.75rem; display: block;} /* 15/20 */
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .tit,
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .stit{line-height: 1.2; text-align: left; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #474848; font-weight: bold;}
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .tit{font-size: 1.4rem; } /* 30/20 */
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .stit{font-size: 1.25rem; font-weight: normal; margin-top: 0.5rem;} /* 25/20 */ /* 10/20 */
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .date{font-size: 1.25rem; font-weight: normal; margin-top: 0.5rem; line-height: 1.2;} /* 25/20 */ /* 10/20 */
.ft_notice .ft_notice_inner .ftn_ct .ban .txts .date span{color: #ff0000;}
.ft_notice .ft_notice_inner .contr{}
.ft_notice .ft_notice_inner .contr .slick-dots{text-align: center;}
.ft_notice .ft_notice_inner .contr .slick-dots li{display: inline-block; vertical-align: top; width: 0.5rem; height: 0.5rem; border-radius: 50%; border: 1px solid #ddd; margin: 0 2px;} /* 10/20, 10/20, 1/20, 2/20 */
.ft_notice .ft_notice_inner .contr .slick-dots li.slick-active{background: #5994ef; border-color: #5994ef;}
.ft_notice .ft_notice_inner .contr .slick-dots li button{display: none;}


/* 썸네일 노티스 */
.thumb_notice{}
.thumb_notice .thumb_inner{}
.thumb_notice .thumb_inner .lst{border-bottom: 1px solid #ddd; padding-top: 1.176rem;}
.thumb_notice .thumb_inner .lst .tp{padding: 1.176rem 0;}
.thumb_notice .thumb_inner .lst .tp+.tp{border-top: 1px solid #ddd;}
.thumb_notice .thumb_inner .lst .tp .inner{position: relative;}
.thumb_notice .thumb_inner .lst .tp .inner .lt{ background: #fafafa; position: relative; width: 100%; height: 0; padding-bottom: 57.14%; overflow: hidden; display: block;}
.thumb_notice .thumb_inner .lst .tp .inner .lt img{width: 100%; max-width: 100%; position: absolute; left: 50%; top:50%; transform: translate(-50%,-50%);}
.thumb_notice .thumb_inner .lst .tp .inner .cont{padding-left: 0.882rem; padding-top: 1.471rem; text-align: left; padding-bottom: 3.765rem;}
.thumb_notice .thumb_inner .lst .tp .inner .rt{position: absolute; right: 0; bottom: 0; width: 100%; text-align: center;}
.thumb_notice .thumb_inner .lst .tp .inner .rt .btns{min-width: 17.647rem; height: 3.765rem; line-height: 3.765rem; text-align: center; font-size: 1.412rem; font-weight: 600; border-radius: 3.765rem; box-sizing: border-box; display: inline-block;}
.thumb_notice .thumb_inner .lst .tp .inner .rt .btns.blue{background: #5994ef; color: #fff;}
.thumb_notice .thumb_inner .lst .tp .inner .cont .tit{font-size: 1.529rem; color: #222b38; line-height: 1.2; font-weight: bold; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.thumb_notice .thumb_inner .lst .tp .inner .cont .stit{font-size: 1.412rem; color: #666666; line-height: 1; margin-top: 0.788rem; padding-bottom: 1.25rem;}
.thumb_notice .thumb_inner .lst .tp .inner .cont .tit.lg{font-size: 2.29rem; word-break: break-all; white-space: inherit; line-height: 1.4;}
.thumb_notice .thumb_inner .lst .tp .inner .cont .stit.lg{font-size: 1.612rem;}
.thumb_notice .thumb_inner .lst.view{border: none;}
.thumb_notice .thumb_inner .lst.view .tp{padding: 0; padding-top: 20px;}
.thumb_notice .thumb_inner .lst.view .tp .inner{padding-right: 0;}
.thumb_notice .thumb_inner .lst.view .tp .inner .lt{display: none;}
.thumb_notice .thumb_inner .lst.view .tp .inner .cont{padding-top: 0; padding-left: 0}
.thumb_notice .thumb_inner .lst.view .tp .inner .cont .stit{margin-top: 1rem; padding-right: 0; padding-bottom: 0;}
.thumb_notice .thumb_inner .lst .tp .view_cont{margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd;}
.thumb_notice .thumb_inner .lst .tp .view_cont .iframe{text-align: center; position: relative; width: 100%; display: block; height: 0; padding-bottom: 56.25%;}
.thumb_notice .thumb_inner .lst .tp .view_cont .iframe iframe{display: inline-block; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.thumb_notice .thumb_inner .lst .tp.no_result{text-align: center; font-size: 19px; font-weight: bold; color: #222;}
#contents.sub_page .thumb_notice .thumb_inner .btn_area{border-top: 1px solid #ddd; margin-top: 1.176rem; padding-top: 1.176rem;}
#contents.sub_page .thumb_notice .thumb_inner .btn_area .btn{width: auto; display: inline-block; min-width: 11.765rem; text-align: center;}
#contents.sub_page .thumb_notice .thumb_inner .btn_area.left{text-align: left;}
#contents.sub_page .thumb_notice .thumb_inner .btn_area.center{text-align: center;}


.as_ai{}
.as_ai .amm{}
.as_ai .ami{font-size: 1.75rem; font-weight: bold; height: 4.75rem; line-height: 4.75rem; border-top-left-radius: 0.625rem; border-top-right-radius: 0.625rem; background: #0072bb; color: #fff; margin-top: 2.813rem;}
.as_ai .amic{font-size: 1.313rem; line-height: 2.125rem; background: #eff7ff; color: #333; border-bottom-left-radius: 0.625rem; border-bottom-right-radius: 0.625rem; padding: 1.25rem;}

@media only screen and (min-width: 600px){
    #contents.main_page .employ_area .emp_lst .tp .inner{padding-bottom: 52%;}
    .comp_scalc_wrap .comp_scalc_inner .lst .tp{width: 20%;}
}

div.NO_RESULT{text-align: center; font-size: 1.2rem; padding: 2rem 0;}





.mntWrap *{box-sizing: border-box;}
.mntWrap .csTop{position: relative; padding-bottom: 2.765rem; border-bottom: 0.059rem solid #cacbcc; margin-top: 4.118rem;}
.mntWrap .csTop .cstit{font-size: 2.118rem; font-weight: 800; text-align: left; color: #333; line-height: 1.3;}
.mntWrap .csTop .csstit{font-size: 1.412rem; font-weight: 400; text-align: left; color: #333; line-height: 1.4; margin-top: 1.2rem;}
.mntWrap .csTop .csbtnsWrap{position: absolute; right: 0; bottom: 1.294rem; width: 56%; top:-0.2%}
.mntWrap .csTop .csbtnsWrap .csbtn{display: inline-block; width: 48%; line-height: 2.765rem; text-align: center; font-size: 1.18rem; border-radius: 3.765rem; font-weight: bold; background: #5994ef; color: #fff;}
.mntWrap .csTop .csbtnsWrap .csbtn.tp2{background: #1a3f70; float: right;}
.mntWrap .csList{margin-top: 1.235rem;}
.mntWrap .csList .cstp{}
.mntWrap .csList .cstp+.cstp{margin-top: 5.47rem;}
.mntWrap .csList .csListTop{background: #eaf1f6; border-top: 0.294rem solid #1b6398; padding: 1.353rem; padding-top: 2.306rem; padding-bottom: 4.176rem;}
.mntWrap .csList .csListTop .csListTit{font-size: 1.8rem; line-height: 1.3; color: #333; text-align: left; font-weight: bold;}
.mntWrap .csList .csListTop .csListTit .ci{display: block; width: 10rem; background: #fff; position: relative; height: 4.706rem; margin-top: -0.882rem; margin-bottom: 0.882rem;}
.mntWrap .csList .csListTop .csListTit .ci img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); max-width: 80%;}
.mntWrap .csList .csListCont .inner{padding: 1.353rem; padding-top: 2.529rem; padding-bottom: 7.176rem; position: relative; border-bottom: 1px solid #d2d2d2;}
.mntWrap .csList .csListCont .cslt{position: absolute; left: 1.353rem; top: -3.329rem;}
.mntWrap .csList .csListCont .csct{}
.mntWrap .csList .csListCont .csrt{position: absolute; left: 0; width: 100%; bottom: 1.529rem; text-align: center;}
.mntWrap .csList .csListCont .csLab{font-weight: 800; font-size: 1.647rem; color: #4a6ccb;}

.mntWrap .csList .csListCont .csListBtn{display: inline-block; width: 48%; line-height: 3.765rem; text-align: center; font-size: 1.412rem; border-radius: 3.765rem; font-weight: bold; background: #fff; color: #1a3f70; border: 1px solid #1a3f70;}
.mntWrap .csList .csListCont .csListBtn.gray{background: #5994ef; color: #fff; border-color: #5994ef;}
.mntWrap .csList .csListCont .csListBtn+.csListBtn{margin-left: 3%;}
.mntWrap .csList .csListCont .csrdoWrap{font-size: 0; }
.mntWrap .csList .csListCont .csrdoWrap *{box-sizing: border-box;}
.mntWrap .csList .csListCont .csrdoWrap .tp{width: 50%; display: inline-block; vertical-align: top; text-align: left; padding: 0.294rem;}
.mntWrap .csList .csListCont .csrdoWrap .tp .lb{font-size: 1.471rem; color: #333; vertical-align: middle; position: relative; line-height: 3.529rem; cursor: pointer; display: block; text-align: center; border-radius: 0.235rem; border: 0.059rem solid #d1d1d1;}
.mntWrap .csList .csListCont .csrdoWrap .tp input:checked+.lb{border-color: #5994ef; background: #5994ef; color: #fff;}
.mntWrap .csList .csListCont .csrdoWrap .tp input:disabled+.lb{background: #d1d1d1;}
.mntWrap .csList .csListCont .csrdoWrap .tp input{position: absolute; left: -999em; width: 0; height: 0; visibility: hidden; overflow: hidden;}

/* 멘토링 멘토,멘티 상단 버튼*/
.btn_area25{padding-top:1.2rem; text-align:center;}
.btn_area25 a.btn {display:inline-block;width:26%;height:3rem;margin:0 0 0 1%;line-height:3rem;padding:0.1rem;text-align:center;font-size:1rem;font-weight:normal;color:#fff;box-sizing:border-box;}
.btn_area25 a.btn.blue:first-child {margin:0;background:#1383c2;}
.btn_area25 a.btn.blue {background:#206ca8;}


/* 스크롤 탑 */
.bn_top {position: fixed;z-index:100;right: 1rem;bottom: 2rem;}
.bn_top a {display:inline-block; width:4rem; height:4.6rem; background:url(https://moti.career.co.kr/images/btn_top.png) no-repeat 0 0; background-size:100%; font-size:0; text-indent:-9999rem; vertical-align:top;}
.bn_top a img {width:7.5rem;height:auto;}
