@charset "euc-kr";

/* 메인 */
.header .main_area {width:100%;position: relative; height:0; padding-top:5.5rem;padding-bottom:110%;background:#eee url('../images/main_bg.png') no-repeat 50% 0%;background-size:100%;}
.header .gnb_area {position:relative;height:2.2rem;display:block;text-align:center;padding:0 2.1rem 0 2.8rem;}
.header .gnb_area h1 img {width:10rem;}
.header .gnb_area .btn_user {position:absolute;left:2.8rem;top:-0.4rem;width:2.3rem;height:2.4rem;}
.header .gnb_area .btn_user a {position:relative;width:100%;height:100%;display:block;font-size:0;background: url('../images/gnb_user.png') no-repeat 0% 100%;background-size:1.9rem;}
.header .gnb_area .btn_user a span {position:absolute;right:0;top:0;width:0.6rem;height:0.6rem;}
.header .gnb_area .btn_user a span img {display:block;width:100%;}
.header .gnb_area .btn_gnb {position:absolute;right:2.1rem;top:0.4rem;width:1.8rem;}
.header .gnb_area .btn_gnb img {display:block;width:100%;}
.header .gnb_area .btn_alarm {position:absolute;right:5.2rem;top:0;width:2rem;}
.header .gnb_area .btn_alarm img {display:block;width:100%;}
.header .main_area .main_txt {line-height:1.3;padding:3rem 0 2rem 2.8rem;font-size:2.3rem;color:#fff;}
.header .main_area .main_txt span {font-size:2.3rem;color:#fff;font-weight:bold;}
.header .main_area .my_hire {width:24.6rem;height:3.7rem;margin:auto;text-align:center;background:#2ecabd;border-radius: 2rem;}
.header .main_area .my_hire strong {line-height:3.7rem;margin:0 1rem 0 0;font-size:1.5rem;color:#fff;}
.header .main_area .my_hire span {line-height:3.7rem;padding:0 0 0 1rem;border-left:1px solid #fff;font-size:1.7rem;color:#fff;}
.header .main_area .my_hire span em {font-size:1.7rem;color:#fff;}


#contents.main_page {padding:0;padding:0 1.75rem;}
#contents.main_page .visual_area {position: relative;display:block;overflow:hidden;z-index:100;box-sizing: border-box; margin: 0 -1.75rem;}
#contents.main_page .visual_area > img {width:100%;}


#contents.main_page h3 {font-size:1.8rem;color:#333;}
#contents.main_page h3 > img {display:inline-block;height:3rem;}

#contents.main_page .employ_area {display:block;padding:2.75rem 0;}
#contents.main_page .employ_area > ul {padding-top: .5rem;}
#contents.main_page .employ_area > ul li {margin-top: 1.5rem;}
#contents.main_page .employ_area > ul li > a {display: block;}
#contents.main_page .employ_area > ul li > a > img {width: 100%;}

#contents.main_page .event_area {display:block;overflow:hidden;width:calc(100% + 2rem);margin-left:-1rem;}
#contents.main_page .event_area > a > img {width:100%;float:left;}

#contents.main_page h3 {text-align:center;padding:0 0 1rem;text-align:center;}
#contents.main_page h3 > img {display:inline-block;height:3rem;}
#contents.main_page .event_area {display:block;border-top: 1px solid #becad7;}
#contents.main_page .event_area > a {display:block;}
#contents.main_page .event_area > a > img {width:100%;}

#contents.main_page .hire_area {position:relative;overflow:hidden;display:block;padding:2.8rem 3rem 3rem 0;margin:0;}
#contents.main_page .hire_area h3 {margin-left:2rem;}
#contents.main_page .hire_area .hire_info {position:relative;padding:0 2.5rem 1rem 0;}
#contents.main_page .hire_area .hire_info p {line-height: 1.8;font-size:1.5rem;color:#000;}
#contents.main_page .hire_area .hire_info p > span {color:#3b6cff;}
#contents.main_page .hire_area .hire_info .add {position:absolute;right:-2rem;top:-0.1rem;width:5rem;height:2.4rem;line-height:2.4rem;text-align:center;font-size:1rem;color:#000;border:2px solid #dcdcdc;border-radius:5.5rem;}
#contents.main_page .hire_area .swiper-pagination {position:absolute;right:1rem;top:2.8rem;width:5rem;height:2rem;line-height:2rem;font-size:1.4rem;color:#00448d;border:1px solid #00448d;border-radius:2rem;}
#contents.main_page .hire_area ul {width: 100%;border:1px solid #dcdcdc;border-width:1px 0 0 1px;}
#contents.main_page .hire_area ul:after {content:'';display:block;clear:both;}
#contents.main_page .hire_area ul li {float:left;width:50%;border:1px solid #dcdcdc;border-width:0 1px 1px 0;box-sizing:border-box;}
#contents.main_page .hire_area dl dt {width:100%;display:table;height:5rem;background:#eceded;}
#contents.main_page .hire_area dl dt .logo {display:table-cell;max-height:3.5rem;text-align:center;vertical-align:middle;}
#contents.main_page .hire_area dl dt .logo > img {display:inline-block;max-width:100%;max-height:4rem;}
#contents.main_page .hire_area dl dd > a {display:block;padding:1.5rem;}
#contents.main_page .hire_area dl dd > a > span {display:inline-block;max-width: calc(100% - 10.5rem);overflow:hidden;line-height:1;font-size:1.5rem;color:#3a42ff;text-overflow: ellipsis;white-space: nowrap;}
#contents.main_page .hire_area dl dd > a > p {display:block;overflow:hidden;width:100%;line-height:1;padding:1rem 0;font-size:1.3rem;color:#000;text-overflow: ellipsis;white-space: nowrap;}
#contents.main_page .hire_area dl dd .comp_type {display:inline-block;margin:0;font-size:0;vertical-align:top;}
#contents.main_page .hire_area dl dd .comp_type > span {display: inline-block;line-height:1.4rem;margin-left:0.5rem;padding:0 0.5rem;font-size:1rem;font-weight:normal;color: #999;border: 1px solid #d9d9d9;border-radius: 3rem;box-sizing:border-box;}
#contents.main_page .hire_area dl dd .area {display:block;overflow:hidden;width:100%;line-height:1;font-size:1.4rem;color:#666;text-overflow: ellipsis;white-space: nowrap;}
#contents.main_page .hire_area dl dd .area > span {display:inline-block;}
#contents.main_page .hire_area dl dd .area > span:before {content:'\003E';margin:0 0.3rem;}
#contents.main_page .hire_area dl dd .right_box {padding:2rem 0 0;text-align:right;font-size:0;}
#contents.main_page .hire_area dl dd .right_box span {display:inline-block;height:2rem;line-height:2rem;font-size:1.3rem;}
#contents.main_page .hire_area dl dd .right_box .data {color:#999;}
#contents.main_page .hire_area dl dd .right_box .appli {margin-left:0.5rem;padding:0 0.5rem;color:#fff;background:#3a42ff;}


#contents.main_page .employ_area2 {display:block;padding:2.5rem 0 2.5rem;}
#contents.main_page .employ_area2 > ul {width:calc(100% + 0.5rem);margin-left:-0.5rem;}
#contents.main_page .employ_area2 > ul:after {content:'';display:block;clear:both;}
#contents.main_page .employ_area2 > ul li {float:left;width: 33.33%;padding:0 0 0 0.5rem;box-sizing: border-box;}
#contents.main_page .employ_area2 > ul li > a {display:block;}
#contents.main_page .employ_area2 > ul li > a > img {display:block;width:100%;}


#contents.main_page .calc_area{background: #eef2f7; margin: 0 -1.75rem; padding: 2.75rem 1.75rem 3.5rem;}
#contents.main_page .calc_area .ca_smart_calc .comp_scalc_wrap{margin-top: 1.7rem; margin-right: 0;}
#contents.main_page .calc_area .ft_notice{margin-top: .6rem;}

#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts{text-align: center;}
#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts .tit{text-align: center;}
#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts .date{line-height: 1.4;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap{text-align: center; right: auto; left: 50%; transform: translateX(-50%);}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap .btns{border-radius: 0.294rem; background: #00baff;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col2{font-size: 0; width: 100%; padding: 0 1.471rem; box-sizing: border-box;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col2 .tp{width: 49.5%; display: inline-block; vertical-align: middle; padding: 0 0.294rem;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col2 .tp .btns{display: block; width: 100%; min-width: 0;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col3{font-size: 0; width: 100%; padding: 0 1.471rem; box-sizing: border-box;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col3 .tp{width: 33.333%; display: inline-block; vertical-align: middle; padding: 0 0.294rem;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .btnsWrap.col3 .tp .btns{display: block; width: 100%; min-width: 0;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .txts:before{content: none;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .txts{padding-left: 2.353rem;}
#contents.main_page.update .visual_area{border-bottom: 1px solid #eef2f7; line-height: 1; font-size: 0;}
#contents.main_page.update .side_movie{margin-top: 2.941rem;}
#contents.main_page.update .side_movie .lst{font-size: 0; margin: 0 -0.588rem; margin-top: 2.529rem;}
#contents.main_page.update .side_movie .lst *{box-sizing: border-box;}
#contents.main_page.update .side_movie .lst .tp{display: inline-block; vertical-align: top; width: 50%; padding: 0.588rem 2.941rem;}
#contents.main_page.update .side_movie .lst .tp .thumb{display: block; height: 0; padding-bottom: 75%; overflow: hidden; position: relative; background: #fafafa; width: 100%;}
#contents.main_page.update .side_movie .lst .tp .thumb img{max-width: 100%; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); height: 100%;}
#contents.main_page.update .side_movie .lst .tp:last-child{display: none;}
#contents.main_page.update .calc_area{margin-top: 3.941rem;}
#contents.main_page.update .calc_area .clc_gr{font-size: 0; box-sizing: border-box; margin: 0 -0.294rem; margin-top: 2.176rem; margin-bottom: 2.647rem;}
#contents.main_page.update .calc_area .clc_gr *{box-sizing: border-box;}
#contents.main_page.update .calc_area .clc_gr .tp{width: 50%; padding: 0 0.294rem; display: inline-block; vertical-align: top; text-align: center;}
#contents.main_page.update .calc_area .clc_gr .tp .txt{display: block;}
#contents.main_page.update .calc_area .ca_smart_grid{margin-top: 5.882rem;}
#contents.main_page.update .calc_area .ca_smart_grid .lst{margin-top: 2.353rem;}
#contents.main_page.update .calc_area .ca_smart_grid .lst .tp.tp2 .txts{background-image: url(../images/ca_smart_grid006.png?v2);}
#contents.main_page.update .calc_area .ca_smart_grid .lst .tp.tp3 .txts{background-image: url(../images/ca_smart_grid007.png?v2);}
#contents.main_page.update .calc_area .ca_smart_grid .lst .tp.tp1 .txts{background-image: url(../images/ca_smart_grid005.png?v2);}
#contents.main_page.update .calc_area .ca_smart_grid .lst .tp.tp4 .txts{background-image: url(../images/ca_smart_grid008.png?v2);}
#contents.main_page.update .employ_area .emp_lst .tp .inner:hover{border: 1px solid #ededed;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .txts .tit{color: #304464 !important;}
#contents.main_page.update .employ_area .emp_lst .tp .inner .txts .stit{color: #304464 !important;}
#contents.main_page .hire_area.hire_update{}
#contents.main_page .hire_area.hire_update .hire_info p{margin-top: 20px;}
#contents.main_page .hire_area.hire_update .cmm_tit{margin-right: -3rem;}

@media screen and (max-width: 450px) {
	/*메인*/
	#contents.main_page .hire_area ul li,
	#contents.main_page .Introduce_box ul li {width:100%;}
}
@media screen and (max-width: 400px) {
	/*메인*/
	#contents.main_page.update .employ_area .emp_lst .tp.tp3 .inner:after{width: 11.8rem; height: 14.55rem;}
	#contents.main_page.update .employ_area .emp_lst .tp .inner .txts .stit{font-size: 1.1rem;}
}
@media screen and (min-width: 600px) {
	/*메인*/
	#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban{padding-top: 1rem; padding-left: 250px; position: relative; }
	#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .img{position: absolute; left: 0; top: 1rem; width: 230px; padding-bottom: 0; height: 156px;}
	#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts .tit{text-align: left;}
	#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts .date{text-align: left;}
	#contents.main_page.update .ft_notice .ft_notice_inner .ftn_ct .ban .txts{min-height: 150px; padding-top: 30px; box-sizing: border-box;}
}



#contents .contents dl.apply dt {line-height:1;display:inline-block;padding:0;font-size:1.875rem;color:#fff;}
#contents .contents dl.apply{background: #0172b4; border-radius: 0.625rem; position: relative;}
#contents .contents dl.apply .rbtn{display: block; margin-left: auto; margin-right: 0; width: 100%; height: 3.938rem; border-radius: 0.625rem; background: #fd9d33; text-align: center;  margin-top: 0.938rem}
#contents .contents dl.apply .rbtn .in{line-height: 3.938rem; font-size: 1.3rem; color: #fff; font-weight: 600; display: block;}
#contents .contents .right_sec .ul_box_wrap {background: #f1f5f7; border-radius: 0.625rem; padding: 0.75rem;}
#contents .contents dl.apply {position:relative;padding:1.875rem 1.25rem;margin:1.563rem 0 0.688rem;border-radius:0.313rem;}
#contents .contents dl.apply dt {line-height:1;display:inline-block;padding:0;font-size:1.85rem;color:#fff; display: block; text-align: center; margin-bottom: 1.25rem;}
#contents .contents dl.apply dd {line-height:1.3;padding:0.313rem 0rem;;font-size:1.3rem;color:#fff; text-align: center;}
#contents .contents dl.apply dd br{display: none;}
#contents .contents dl.apply dd strong {font-size:1.438rem;font-weight:600;color:#3a42ff;}
